body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #000000;
    background-position: center;
    background-repeat: no-repeat;
}

.navbar {
    background-color: #2a2a2a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    margin-bottom: 5%;
    position: sticky;
    top: 0;
    z-index: 1000;
    padding: 0 20px;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    font-size: 16px;
    transition: background-color 0.3s, color 0.3s;

}

.nav-left {
    display: flex;
}

.nav-right {
    display: flex;
    align-items: center;
}

.navbar a:hover {
    background-color: #000000;
    color: #fff;
    border-radius: 8px;
}

/* Styling dell'area utente */
.user-info {
    display: flex;
    align-items: center;
}

.user-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.user-info {
    color: white;
    font-size: 16px;
}

.titolo {
    text-align: center;
    font-size: 3.5em;
    margin-top: 50px;
    color: #2a2a2a;
}


.home-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
}


.image-container {
    flex: 1;
    padding-right: 30px;
}





.description-container {
    flex: 2;
    padding-left: 30px;
}

.description-container h3 {
    font-size: 2.5em;
    color: #2a2a2a;
}

.description-container p {
    font-size: 1.2em;
    line-height: 1.6;
    color: #555;
}


@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
    }

    .navbar a {
        padding: 10px;
        width: 100%;
        text-align: center;
    }

    .nav-right {
        width: 100%;
        justify-content: space-between;
    }

    .user-info {
        flex-direction: column;
        align-items: flex-start;
    }
}

.active {
    font-weight: bold;
    background-color: #808080;
    border-radius: 8px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #171717;
    color: white;
    padding: 10px;
}

footer img {
    width: 30px;
    height: 30px;
    vertical-align: middle;
    margin-left: 10px;
}

h2 {
    text-align: center;
    font-size: 2em;
    margin-top: 50px;
    color: #2a2a2a;
}


.active{
    font-weight: bolder;
    background-color: #808080;
    border-radius: 8px;

}










