body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #000000;
    background-position: center;
    background-repeat: no-repeat;
}

.add-to-cart-btn {
    background-color: #28a745;
    color: white;
    font-size: 1.25rem;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    width: 100%;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 2rem;
}

.btnhome {
    background-color: #ec0000;
    color: white;
    font-size: 1.25rem;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    width: 100%;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 2rem;
}
